.vid {
	padding-top: 1.5em;
}

.post p {
	margin-bottom: 1em;
}

.post p:first-of-type {
	text-indent: 1.5em !important;
}

hr {
	margin: auto;
	padding-bottom: 1.5em;
}

.post-author {
  color: #64644B;
  display: block;
  font-size: 0.825em;
  white-space: nowrap;
}

.vid img {
	border-radius: 30px;
}
